.gameSwitcher {
    height: 58px;
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--black-19);
    transition: height .3s ease;

    & img {
        filter: saturate(0);
        transition: ease 0.3s;
    }

    .active {
        filter: saturate(1);
    }

    & img:hover {
        filter: saturate(1);
    }
}

.gameSwitcher:hover {
    height: 158px;
}